<main>

  <h1>Gettin' Sassy!</h1>
  <section class="author">
    <p>Chris Demaria</p>
    <article class="about">
      <article class="icon">
      <img src="assets/images/twitter-logo.png" alt="Twitter Logo">
      </article>
      <div class="username">@pungentpollywog</div>
    </article>
    <article class="about">
      <article class="icon">
        <img src="assets/images/gitlab-logo.png" alt="Gitlab Logo">
      </article>
      <div class="username">rektnoob</div>
    </article>
  </section>
</main>
