
<nav>
  <ul>
    <li><a routerLink="vanilla-css">CSS</a></li>
    <li><a routerLink="sassy-css">Sassy CSS</a></li>
    <li><a routerLink="masking">Gibberish</a></li>
    <li><a routerLink="dolls">Dolls</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a  target="_blank" href="https://www.evernote.com/shard/s251/client/snv?noteGuid=3b501ee0-1359-5dff-dc49-9e91ccd3beb8&noteKey=cd15f06b6e7597cc71c76df43ea35eda&sn=https%3A%2F%2Fwww.evernote.com%2Fshard%2Fs251%2Fsh%2F3b501ee0-1359-5dff-dc49-9e91ccd3beb8%2Fcd15f06b6e7597cc71c76df43ea35eda&title=SCSS%2BDemo">
      Sassy Talk</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
