<main>
  <article>
    The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the
    water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. Oh, ow!

    Why? What a strange person. We found them. Ah, now we see the violence inherent in the system! On second thoughts,
    let's not go there. It is a silly place.

    Well, she turned me into a newt. She looks like one. A newt? Oh! Come and see the violence inherent in the system!
    Help, help, I'm being repressed!

    I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction!
    Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second
    time! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter,
    yet these are not strangers to our land.

    Bring her forward! Be quiet! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Where'd you
    get the coconuts? And the hat. She's a witch!

    Camelot! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of
    the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.

    Who's that then? Found them? In Mercia?! The coconut's tropical! The swallow may fly south with the sun, and the
    house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.

    Well, Mercia's a temperate zone! Shut up! Well, we did do the nose. He hasn't got shit all over him.

    Who's that then? On second thoughts, let's not go there. It is a silly place. On second thoughts, let's not go
    there. It is a silly place. You don't vote for kings.

    I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction!
    Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second
    time! I am your king.

    Bring her forward! Found them? In Mercia?! The coconut's tropical! Where'd you get the coconuts? We found them. Ah,
    now we see the violence inherent in the system!

    Well, Mercia's a temperate zone! Well, she turned me into a newt. You can't expect to wield supreme power just
    'cause some watery tart threw a sword at you! I don't want to talk to you no more, you empty-headed animal food
    trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now
    leave before I am forced to taunt you a second time!

    The nose? And this isn't my nose. This is a false one. Oh! Come and see the violence inherent in the system! Help,
    help, I'm being repressed! Bring her forward!

    The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the
    water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. Oh, ow!

    Why? What a strange person. We found them. Ah, now we see the violence inherent in the system! On second thoughts,
    let's not go there. It is a silly place.

    Well, she turned me into a newt. She looks like one. A newt? Oh! Come and see the violence inherent in the system!
    Help, help, I'm being repressed!

    I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction!
    Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second
    time! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter,
    yet these are not strangers to our land.

    Bring her forward! Be quiet! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Where'd you
    get the coconuts? And the hat. She's a witch!

    Camelot! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of
    the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.

    Who's that then? Found them? In Mercia?! The coconut's tropical! The swallow may fly south with the sun, and the
    house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.

    Well, Mercia's a temperate zone! Shut up! Well, we did do the nose. He hasn't got shit all over him.

    Who's that then? On second thoughts, let's not go there. It is a silly place. On second thoughts, let's not go
    there. It is a silly place. You don't vote for kings.

    I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction!
    Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second
    time! I am your king.

    Bring her forward! Found them? In Mercia?! The coconut's tropical! Where'd you get the coconuts? We found them. Ah,
    now we see the violence inherent in the system!

    Well, Mercia's a temperate zone! Well, she turned me into a newt. You can't expect to wield supreme power just
    'cause some watery tart threw a sword at you! I don't want to talk to you no more, you empty-headed animal food
    trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now
    leave before I am forced to taunt you a second time!

    The nose? And this isn't my nose. This is a false one. Oh! Come and see the violence inherent in the system! Help,
    help, I'm being repressed! Bring her forward!

    The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the
    water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. Oh, ow!

    Why? What a strange person. We found them. Ah, now we see the violence inherent in the system! On second thoughts,
    let's not go there. It is a silly place.

    Well, she turned me into a newt. She looks like one. A newt? Oh! Come and see the violence inherent in the system!
    Help, help, I'm being repressed!

    I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction!
    Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second
    time! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter,
    yet these are not strangers to our land.
 
  </article>
</main>